---
import {Button} from "../Button/Button";
const navItems = [
  {href: '/', label: 'Home'},
  {href: '/about', label: 'About'},
  {href: '/services', label: 'Services'},
  {href: '/projects', label: 'Projects'},
  {href: '/contact', label: 'Contact'},
];
---

<header class="sticky top-0 z-50 bg-white shadow-md">
    <nav class="container mx-auto px-4 py-4">
        <div class="flex items-center justify-between">
            <a href="/" class="text-2xl font-bold text-primary">
                Glenn Molenaar BV.
            </a>


            <div class="flex gap-12 items-center">
                <div class="hidden md:flex">
                  {navItems.map(item => (
                          <a
                                  href={item.href}
                                  class="text-black px-6 rounded-md py-3 text-lg font-semibold transition-colors hover:bg-[rgba(0,0,0,0.1)]"
                          >
                            {item.label}
                          </a>
                  ))}
                </div>

                <button
                        class="md:hidden text-secondary"
                        aria-label="Toggle menu"
                >
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                         stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M4 6h16M4 12h16M4 18h16"/>
                    </svg>
                </button>

                <Button>Neem contact op</Button>
            </div>
        </div>
    </nav>
</header>