---
import {Image} from "astro:assets";
import dakdekprojectHeroHeader from '../../assets/projecten/dakdekproject/dakdekproject-6.jpeg';
import {Button} from "../Button/Button";

---
<section class="relative h-[80vh] flex items-center">
  <div
    class='absolute inset-0 overflow-hidden'
  >
      <div
              class='absolute inset-0 overflow-hidden'
              style="background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0))"
      ></div>
      <Image  alt="Glenn Molenaar BV" width="1800"
             class="w-full h-full object-cover"
             src={dakdekprojectHeroHeader}></Image>
  </div>

  <div class="container mx-auto px-4 relative text-white">
    <div class="max-w-2xl">
      <h1 class="text-5xl md:text-6xl font-bold mb-6">
          Totaalverbouwingen met Vertrouwen en Persoonlijke Aandacht
      </h1>
      <p class="text-xl mb-8">
          Complete renovaties, strak gepland en vakkundig uitgevoerd – met één aanspreekpunt van begin tot eind
      </p>
      <div class="flex gap-4">
          <Button href="/contact" >Neem contact op</Button>
          <Button href="/contact" isGhost>Bekijk projecten</Button>
      </div>
    </div>
  </div>
</section>